@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');

div.row
{
	width: 100%;
	height: auto;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 100px;
	padding-bottom: 100px;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1.5em;
	font-family: font-family: 'Oswald', sans-serif;
	padding: 0 2px;
	margin: 0 10px;
}
p
{
	line-height: 1.7em;
	font-family: 'Open Sans', sans-serif;
	padding: 0 2px;
	margin: 0 10px;
}
.topBar
{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #383838;
}
.topBar p, .topBar p i
{
	color: #fff;
}
.navbar
{
	background-color: #7BB12B;
}